<div class="container d-flex justify-content-center">

    <div class="list row">
        <div class="card border-dark">
        
            <div class="card-body">
                <a routerLink="/register" routerLinkActive="active-link w3-green" >Register</a>
            </div>
        </div>
    </div>

    <div class="list row">
        <div class="card border-dark">
            <div class="card-body">
                <a routerLink="/guest" routerLinkActive="active-link w3-green"  >Guest</a>
            </div>
        </div>
    </div>

    <div class="list row">
        <div class="card border-dark">
            <div class="card-body">
                <a routerLink="/login" routerLinkActive="active-link w3-green" >Login</a>
            </div>
        </div>
    </div>
</div>